<!-- chat.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>
<body>

<div id="chat">
    <ul id="messages"></ul>
    <input id="messageInput" autocomplete="off">
    <button onclick="sendMessage()">Send</button>
</div>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        console.log('Connected to server');
    });

    socket.on('update_messages', function (message) {
        $('#messages').append($('<li>').text(message));
    });

    function sendMessage() {
        var message = $('#messageInput').val();
        if (message) {
            socket.emit('message', message);
            $('#messageInput').val('');
        }
    }
</script>

</body>
</html>
